# Ignore everything
*

# But not these files...
!.gitignore
!/Assets
Assets/*
!/Assets/Scrips
!/Assets/Scrips/*
!/Assets/Resources
/Assets/Resources/*
!/Assets/Resources/Text
!/Assets/Resources/Text/*
/Assets/Resources/Text/Traj*
!/Assets/Scenes
!/Assets/Scenes/*

!/python~
!/python~/*



python~/bin
python~/bin*
python~/csharp_timers.json
python~/envs
python~/include*
python~/lib*
python~/logs*

*.meta
/*.meta
